* {
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: goldenrod;
}

.main--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz--div {
  width: 400px;
  height: 400px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 10px;
}

i {
  font-size: 18px;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  align-self: center;
  padding: 12px 15px;
  color: black;
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 768px) {
  body {
    .quiz--div{
      width: 350px;
      padding: 10px;
    }
  }
}